@model ServiceViewModel

@{
    ViewBag.Title = "Delete Service";
}

<h3 class="text-center mb-5">
    <strong>Are you sure you want to delete this service?</strong>
</h3>
<div class="col-md-4 offset-md-4">
    <div class="card mt-3 mb-3" style="width: 24rem">
        <div class="card-body text-center bgcolor-orange">
            <h5 class="card-title text-center mb-4">Service: @Model.Name</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bgcolor-blue mb-2">Description: @Model.Description</li>
                <li class="list-group-item bgcolor-blue mb-2">Price: @Model.Price BGN</li>
                <li class="list-group-item bgcolor-blue mb-2">Department: @Model.Department</li>
            </ul>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-3 mt-3">
                <form method="post">
                    <button type="submit" class="btn btn-outline-danger" asp-controller="Services" asp-action="DeleteService" asp-route-id="@Model.Id">
                        Delete
                    </button>
                </form>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Services" asp-action="All">Back</a>
            </div>
        </div>
    </div>
</div>
