@model CancelAppointmentServiceModel

@{
    ViewBag.Title = "Cancel Appointment";
}

<h3 class="text-center mb-3">
    <strong>Are you sure you want to cancel this appointment?</strong>
</h3>
<h5 class="text-center mb-5">
    First send cancelation email for this appointment.
</h5>
<div class="col-lg-6 col-md-12 offset-lg-4 mb-3">
    <div class="card mb-5" style="width: 24rem; background-color: #f0f8ff">
        <div class="card-body text-center text-danger" style="font-weight:700">
            <h3 class="card-title text-center mb-5">@ViewBag.Title</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item mb-3">Pet: @Model.PetName</li>
                <li class="list-group-item mb-3">Date: @Model.Date.ToString(DateFormat) @Model.Hour</li>
                <li class="list-group-item mb-3">Service: @Model.ServiceName</li>
                <li class="list-group-item mb-3">Client: @Model.ClientFullName</li>
            </ul>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-3 mt-3">
                <form method="post">
                    <button type="submit" class="btn btn-outline-warning" asp-controller="Appointments" asp-action="SendEmail" asp-route-appointmentId="@Model.Id">
                        Send Email
                    </button>
                    <button type="submit" class="btn btn-outline-danger" asp-controller="Appointments" asp-action="Delete" asp-route-appointmentId="@Model.Id">
                        Cancel
                    </button>
                </form>
                <a class="btn btn-outline-primary" asp-controller="Appointments" asp-action="Mine">Back</a>
            </div>
        </div>
    </div>
</div>