@model DoctorAppointmentsListingViewModel

@{
    ViewBag.Title = "Work Schedule";
}

@if (!Model.UpcomingAppointments.Any() && !Model.PastAppointments.Any())
{
    ViewBag.Title = null;
    <h2 class="text-center">
        Nothing booked yet!
    </h2>
}
@if (Model.UpcomingAppointments.Any())
{
    <h2 class="text-center mb-3">Upcoming Appointments(@Model.UpcomingAppointments.Count())</h2>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date and Hour</th>
                <th scope="col">Service</th>
                <th scope="col">Pet</th>
                <th scope="col">Pet Type</th>
                <th scope="col">Client</th>
                <th scope="col">Client Phone Number</th>
                <th scope="col">Cancellation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.UpcomingAppointments)
            {
                <tr>
                    <th scope="row">@appointment.Date.ToString(NormalDateFormat) @appointment.Hour</th>
                    <td>@appointment.ServiceName</td>
                    <td>@appointment.PetName</td>
                    <td>@appointment.PetType</td>
                    <td>@appointment.ClientFullName</td>
                    <td>
                        <span class="fas fa-phone fa-lg text-dark"></span> @appointment.ClientPhoneNumber
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-controller="Appointments" asp-action="Cancel" asp-route-appointmentId="@appointment.Id">Cancel</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr class="bg-dark m-4" style="height: 6px;" />
}

@if (Model.PastAppointments.Any())
{
    <h2 class="text-center mb-3">Past Appointments(@Model.PastAppointments.Count())</h2>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date and Hour</th>
                <th scope="col">Service</th>
                <th scope="col">Pet</th>
                <th scope="col">Pet Type</th>
                <th scope="col">Client</th>
                <th scope="col">Client Phone Number</th>
                <th scope="col">Prescription</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.PastAppointments)
            {
                <tr>
                    <th scope="row">@appointment.Date.ToString(NormalDateFormat) @appointment.Hour</th>
                    <td>@appointment.ServiceName</td>
                    <td>@appointment.PetName</td>
                    <td>@appointment.PetType</td>
                    <td>@appointment.ClientFullName</td>
                    <td>
                        <span class="fas fa-phone fa-lg text-dark"></span> @appointment.ClientPhoneNumber
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-controller="Prescriptions" asp-action="Details" asp-route-appointmentId="@appointment.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
