@model PrescriptionServiceModel

@{
    ViewBag.Title = "Prescription";
}

<div class="col-md-4 offset-md-4">
    <div class="card mt-3 mb-3" style="width: 24rem">
        <div class="card-body text-center bgcolor-orange">
            <h5 class="card-title text-center">@Model.PetName</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bgcolor-blue">Doctor: @Model.DoctorFullName</li>
                <li class="list-group-item bgcolor-blue">Department: @Model.DepartmentName</li>
                <li class="list-group-item bgcolor-blue">Service: @Model.ServiceName</li>
                <li class="list-group-item bgcolor-blue">Description: @Model.Description</li>
                <li class="list-group-item bgcolor-blue">Date: @Model.CreatedOn</li>
            </ul>
            <a asp-controller="Prescriptions" asp-action="ByPet" asp-route-id="@Model.PetId" class="btn btn-outline-primary mb-3 mt-3">Prescriptions</a>
        </div>
    </div>
</div>
