@model DoctorDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-8 col-md-12 offset-lg-3 ">
    <div class="card mb-5" style="width: 32rem">
        <div class="card-body text-center">
            <h3 class="card-title text-center mb-5">@Model.FullName</h3>
            <img class="d-block img-fluid mx-auto mb-5" src="@Model.ProfileImage" alt="@Model.FullName Image">
            <ul class="list-group list-group-flush">
                <li class="list-group-item mb-3">Department: @Model.Department</li>
                <li class="list-group-item mb-3">@Model.Description</li>
                <li class="list-group-item mb-3">
                    <i class="fas fa-envelope fa-lg text-dark"></i> @Model.Email
                </li>
                <li class="list-group-item mb-5">
                    <span class="fas fa-phone fa-lg text-dark"></span> @Model.PhoneNumber
                </li>
            </ul>
            <div class="footer text-center mb-3">
                @if (User.IsClient())
                {
                    <a asp-controller="Appointments" asp-action="Book" asp-route-doctorId="@Model.Id" class="btn btn-outline-primary">Book</a>
                }
                @if (User.IsAdmin())
                {
                    <a asp-area="Admin" asp-controller="Doctors" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
                    <a asp-area="Admin" asp-controller="Doctors" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
                    <a asp-area="" asp-controller="Doctors" asp-action="All" class="btn btn-outline-primary">All Doctors</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
<script src="~/js/date-picker.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
}